<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-order/0" routerLinkActive="active">
          Order</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/register-student"
          routerLinkActive="active"
        >
          Add Account</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/view-students"
          routerLinkActive="active"
        >
          Accounts List</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/group" routerLinkActive="active">
          Group</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/account-detail" routerLinkActive="active">
          Account</a
        >
      </li>

    </ul>
  </div>
</nav>
